<html>
	<head>
		<title>Config Analysis</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
		crossorigin="anonymous"></script>  
	</head>
	<body>
		<form method="post" enctype="multipart/form-data" action="/filepost">
			<p>
				<input type="text" name="title" placeholder="title"/>
			</p>
			<p>
				<input type="file" name="upl"/>
			</p>
			<p>
				<input type="submit"/>
			</p>
		</form>
	<a href="/tablepage">Click to go to table</a>  
	</body>
</html>